<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="style.css">
  <title>山形市 地区別収集曜日一覧</title>
</head>

<body>
  <h1>山形市 地区別収集曜日一覧</h1>
  <div id="area_list">
    <div>
      <button type="button" v-on:click="search_by_gps">現在の位置情報で検索</button>
    </div>
    <div>
      <input type="text" v-model="input_area_name">
      <button type="button" name="button" v-on:click="search">地名で検索</button>
    </div>
    <ul>
      <li v-for="area_data in filtered_area_list">
        <a href="#" v-on:click="select(area_data)">{{ area_data.area_name }}</a>
      </li>
    </ul>
    <transition name="slide">
      <div id="modal-window" v-show="modal_opened" v-if="selected_area_data">
        <h2>{{ selected_area_data.area_name }}</h2>
        <ul>
          <li>もやせるごみ：{{ selected_area_data.burnable }}</li>
          <li>ビン・カン：{{ selected_area_data.recyclable }}</li>
          <li>プラスチック：{{ selected_area_data.plastics }}</li>
          <li>ペットボトル：{{ selected_area_data.petbottle }}</li>
          <li>埋立ごみ：{{ selected_area_data.landfill }}</li>
        </ul>
        <p v-if="selected_area_data.remarks">
          備考<br>
          {{ selected_area_data.remarks }}
        </p>
        <button type="button" v-on:click="close">閉じる</button>
      </div>
    </transition>
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script type="text/javascript">
    var area_list = new Vue({
      el: '#area_list',
      data: {
        area_list: null,
        filtered_area_list: null,
        modal_opened: false,
        selected_area_data: null,
        input_area_name: '',
        area_name_conditions: null
      },
      mounted() {
        axios.get('https://script.google.com/macros/s/AKfycbyYMvoHo4may5LlbtEzZ2hRzN1OrAiRcYh59psPxrXLi-WNREgx/exec').then(
          (response) => {
            this.area_list = response.data
            this.filtered_area_list = response.data
          }
        );
      },
      methods: {
        select(area_data) {
          this.modal_opened = true;
          this.selected_area_data = area_data;
        },
        close() {
          this.modal_opened = false;
        },
        search() {
          this.filtered_area_list = this.area_list.filter(area_data => area_data.area_name.indexOf(this.input_area_name) != -1);
        },
        search_by_gps() {
          if (!navigator.geolocation) {
            alert('お使いの端末では位置情報が取得できません');
            return;
          }
          // 現在地を取得
          navigator.geolocation.getCurrentPosition(
            (position) => {
              var request_setting = {
                params: {
                  latlng: `${position.coords.latitude},${position.coords.longitude}`,
                  key: 'AIzaSyDB2ycApLRLUjpzPl9k2LuKx5dPoQU4u1E'
                }
              };
              axios.get('https://maps.googleapis.com/maps/api/geocode/json', request_setting).then(
                (response) => {
                  var get_generic_name_list = [];

                  response.data.results.forEach((result) => {
                    result.address_components.forEach((address_component) => {
                      get_generic_name_list.push(address_component.long_name);
                    });
                  });

                  // 重複を削除する
                  this.area_name_conditions = get_generic_name_list.filter((element, index, self) => {
                    return self.indexOf(element) === index;
                  });

                  // 複数条件で絞り込む
                  this.filtered_area_list = this.area_list.filter((area_data) => {
                    for (var index = 0; index < this.area_name_conditions.length; index++) {
                      if (area_data.area_name.indexOf(this.area_name_conditions[index]) != -1) {
                        return true;
                      }
                    }
                    return false;
                  });

                }
              );
            },
            (error) => {
              (error.code == 1) ? alert('位置情報の利用が許可されていません') : alert('位置情報が取得できませんでした');
            }
          );
        }
      }
    });
  </script>
</body>
